<% if session[:user_id] %>
	<h1>New Yoga Journal Entry</h1><br />
	<div class='sitting'>
		<%= image_tag 'sitting.jpeg' %>
	</div>
	<%= render 'form' %>
<% else %>
	<h1>Please Sign Up</h1>
  <p>To make a reservation here, please <%= link_to "sign up for an account", new_user_url %></p>
<% end %>

<%= link_to 'Home', root_url %>