<h1 id='about_yoga'>About Yoga</h1>

<div id='intro'>
	<p>Yoga (Sanskrit, Pāli: योग, /ˈjəʊɡə/, yoga) is a commonly known generic term for physical, mental, and spiritual disciplines which originated in ancient India.  Specifically, yoga is one of the six āstika ("orthodox") schools of Hindu philosophy. One of the most detailed and thorough expositions on the subject are the Yoga Sūtras of Patañjali. Various traditions of yoga are found in Hinduism, Buddhism, Jainism and Sikhism.</p>
</div>

<div id='yoga_image_1'>
	Image
</div>